body {
    font-family: 'TajawalRegular', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.overflow{
    overflow: hidden;
}

/*style scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1f9fcc; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000; 
  }

.fixall{
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
/*                          header section                     */

/*                          dropdown                            */
.dropdown {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #fff;
    color: #616161;
    text-align: center;
    min-width: 140px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 0 4px;
    transition: all 0.3s ease-in-out;
}

.dropdown-content::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    opacity: 1;
}  
  
/* Links inside the dropdown */
.dropdown-content a {
    color: #757575;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    font-family: "TajawalMedium";
    font-size: 15px;   
    transition: all .3s ease-in-out;
}  
.dropdown-content a:hover{
    color: #1f9fcc;
} 


  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    /* display: block; */
    visibility: visible;
    opacity: 1;    
}
.chevron-down{
    line-height: 38px; /*also height of div */
    cursor: pointer;
    font-size: 14px;
    color: #212121;
    font-family: "TajawalRegular";
    transition: all 0.3s ease-in-out;
}

.lang-section .chevron-down::after,
.hide-txt.chevron-down::after{
    content: "\e874";
    font-family: "Linearicons-Free";
    font-size: 8px;
    margin-inline-start: 4px;
    font-weight: bold;
}
.lang-section .chevron-down:hover {
    color: #1f9fcc;
}
/*                          dropdown                            */
/*top header*/

.top-header a{
    text-decoration: none;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
}
.nav-header li .cat-anchor{
    color: #212121;
    font-size: 18px;
    font-family: "TajawalMedium";
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}

.nav-header li .cat-anchor:hover{
    color: #1f9fcc;
}
.nav-header li{
    margin-right: 26px;
}
html[dir=rtl] .nav-header li{
    margin-right: 0;
    margin-left: 26px;
}
.nav-header li:nth-of-type(4){
    margin-right: 0;
}
html[dir=rtl] .nav-header li:nth-of-type(4){
    margin-left: 0;
}
.nav-header li:last-of-type{
    margin-right: 0;
}
html[dir=rtl] .nav-header li:last-of-type{
    margin-left: 0;
}
.nav-header .big-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.nav-header figure{
    margin: 0;
}
.nav-head {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.nav-header li:nth-of-type(5),
.nav-header li:nth-of-type(6){
    display: none;
}
.hide-txt{
    display: none;
}
.top-header .header-icons{
    display: flex;
    align-items: center;
}
.dropdown .add-to{
    cursor: pointer;
}
.top-header .add-to{
    color: #212121;
    font-size: 18px;
    font-family: "TajawalMedium";
    transition: all 0.3s ease-in-out;
}
.show-icons,
.header-icons .add-to{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgb(245, 245, 245);
    font-size: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-inline-end: 7px;
    color: #212121;
    transition: all .3s ease-in-out;
}
.header-icons a.add-to{
    margin-inline-end: 25px;
}
.show-icons{
    display: none;
    margin-inline-end: 0;
}
.show-icons a{
    color: #212121;
    transition: all .3s ease-in-out;
}
.show-icons:hover a{
    color: #fff;
}
.show-icons:hover,
.header-icons .add-to:hover{
    color: #fff;
    background-color: #1f9fcc;
}
.header-icons .add-to .dropdown-content{
    top: 50px;
    left: 45%;
}
html[dir=rtl] .add-to .dropdown-content{
    left: 55%;
}
/*top header*/
/*swiper section*/
.main-slider-cont{
    background-color: #edf7fb;
}
.main-slider {
    position: relative;
    clip-path: ellipse(132% 100% at 50% 0%);
    overflow: hidden;
}
.main{
    position: relative;
}
  
.main .pro-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}
.main .pro-img img{
    width: 100%;
}

.main-slider .swiper-btn {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 10px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.09);
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
@media (min-width: 1320px) {
    .main-slider .swiper-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
  
.swiper-btn:hover {
    color: #fff;
    background-color: #1f9fcc;
}
  
.swiper-btn.swiper-btn-next {
    left: 57px;
}
  
.swiper-btn.swiper-btn-prev {
    right: 57px;
}
  

/*                          main-slider                             */
/*                         strips-section                           */
.strips-section{
    background-color: #edf7fb;
    margin-bottom: 75px;
}
.strips-cont{
    padding: 95px 68px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.strips-caption{
    width: 45%;
}
.strips-caption .strips-head{
    font-family: "TajawalBold";
    font-size: 60px;
    color: #052a39;
    text-transform: capitalize;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 15px;
}
.strips-caption .strips-span{
    color: #1f9fcc;
}
.strips-caption .strips-button{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 23px;
    width: 180px;
    height: 46px;
    background-color: rgb(31, 159, 204);
    color: #fff;
    font-family: "TajawalBold";
    font-size: 17px;
    transition: all .3s ease-in-out;
}
.strips-caption .strips-button:hover{
    background-color: #171250;
}
/*                         strips-section                           */
/*                            product section                           */
.product-section{
    text-align: center;
    margin-bottom: 72px;
}
.product-section .product-head {
    text-align: center;
    text-transform: capitalize;
    font-family: "TajawalBold";
    font-size: 26px;
    color: #000;
    margin-bottom: 40px;
    margin-top: 0;
}
.product-slider {
    position: relative;
    margin-bottom: 50px;
}
  
.product .product-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    border-radius: 20px;
}
.product .product-img:hover img{
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
    
.product .product-img:hover img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}
html[dir=rtl] .product .product-hint{
    right: 3%;
    left: 0;
}
.product .product-hint{
    font-size: 12px;
    font-family: "TajawalBold";
    color: #fff;
    background-color: #b71c1c;
    line-height: 20px;
    text-align: center;
    width: 72px;
    height: 20px;
    border-radius: 12px;
    position: absolute;
    top: 2%;
    left: 3%;
    transition: all 0.3s ease-in-out;
}
.product .product-hint:hover{
    color: #fff;
    background-color: #1f9fcc;
}
.product{
    cursor: pointer;
}
.product .product-content{
    padding: 20px 18px 0;
    
}
.product-content .price-box{
    text-align: center;
    font-family: "TajawalBold";
    font-size: 20px;
    color: #1f9fcc;
    margin-bottom: 15px;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
}
.product-content .price-box .first-price{
    font-family: "TajawalBold";
    font-size: 20px;
}
.product-content .price-box .last-price{
    font-family: "TajawalRegular";
    font-size: 20px;
    text-decoration: line-through;
    color: #888888;
}
.product .product-name{
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 17px;
    font-family: "TajawalMedium";
    margin-bottom: 5px;
    transition: all 0.4s ease-in-out;
    /* max-height: 30px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
.product .product-name:hover{
    color: #1f9fcc;
}
.product .rate-star{
    margin-bottom: 5px;
}
.product .rate-star span{
    font-size: 12px;
    color: #bdbdbd;
}
.product .rate-star .checked{
    color: #ffb300;
}
.product .product-button{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 23px;
    max-width: 180px;
    width: 100%;
    height: 46px;
    background-color: #f5f5f5;
    color: #171250;
    font-family: "TajawalBold";
    font-size: 15px;
    transition: all .3s ease-in-out;
}
.product .product-button:hover{
    background-color: #1f9fcc;
    color: #fff;
}
.product .product-button i{
    font-size: 14px;
    margin-right: 4px;
}
html[dir=rtl] .product .product-button i{
    margin-left: 4px;
    margin-right: 0;
}
.product-section .product-btn{
    text-decoration: none;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 23px;
    width: 180px;
    height: 46px;
    background-color: #171250;
    color: #fff;
    font-family: "TajawalBold";
    font-size: 17px;
    transition: all .3s ease-in-out;
}
.product-section .product-btn:hover{
    background-color: #1f9fcc;
    color: #fff;
}
.product-slider .swiper-btn {
    position: absolute;
    z-index: 1;
    top: 117px;
    -webkit-transform: none;
    transform: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.09);
    color: #000;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  @media (min-width: 1320px) {
    .product-slider .swiper-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  
  .product-slider .swiper-btn:hover {
    color: #fff;
    background-color: #1f9fcc;
}
  
.product-slider .swiper-btn.swiper-btn-next {
    left: -77px;
}
  
.product-slider .swiper-btn.swiper-btn-prev {
    right: -77px;
}
  
.product-slider .swiper-pagination {
    position: relative;
    width: 100%;
    bottom: auto;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
}
  
  @media (max-width: 991px) {
    .product-slider .swiper-pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  
.product-slider .swiper-pagination .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    background-color: #000;
    opacity: 0.5;
    margin: 0 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none !important;
    border-radius: 50%;
}
  
.product-slider .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: #01579b;
}
  
.product-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #01579b;
    opacity: 1;
}
/*                             product section                          */ 
/*                           big-image section                          */
.big-image-section{
    margin-bottom: 30px;
}
.big-image-cont img{
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.big-image-cont img:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
/*                           big-image section                          */
/*                          banner section                     */
.banner-section{
    margin-bottom: 85px;
    position: relative;
    z-index: 2;
}
.banner-section img{
    max-width: 100%;
    border-radius: 20px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.banner-section img:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/*                          banner section               */ 
/*                         reviews-section               */
.reviews-section{
    clip-path: ellipse(100% 70% at 50% 70%);
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 55px;
    background-color: #fafafa;
    padding-top: 220px;
    margin-top: -210px;
}
.reviews-section .reviews-head {
    text-align: center;
    text-transform: capitalize;
    font-family: "TajawalBold";
    font-size: 26px;
    color: #000;
    margin-bottom: 25px;
    margin-top: 0;
}
.reviews-slider {
    position: relative;
}
.reviews-slider .reviews-cont {
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 38px 32px 55px 38px;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
    margin: 10px;/*to make box shadow appeer*/
}
.reviews-slider .reviews-cont::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    position: absolute;
    right: 5%;
    top: -9%;
    font-size: 105px;
    color: rgba(68, 59, 64, 0.051);
}
html[dir=rtl] .reviews-slider .reviews-cont::before{
    right: auto;
    left: 5%;
}
.reviews-cont .reviews-box{
    text-align: start;
    padding-top: 15px;
}
.reviews-cont .reviews-img{
    width: 52px;
    margin-inline-end: 24px;
}

.reviews-cont .reviews-title{
    font-family: "TajawalBold";
    font-size: 17px;
    color: #1f9fcc;
    margin-bottom: 25px;
    margin-top: 0;
}
.reviews-cont .reviews-pargh{
    font-family: "TajawalRegular";
    font-size: 14px;
    color: #443b40;
    margin-bottom: 0;
} 
.reviews-slider .swiper-pagination {
    position: relative;
    width: 100%;
    bottom: auto;
    /* display: none; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
}
  
  @media (max-width: 991px) {
    .reviews-slider .swiper-pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  
.reviews-slider .swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: #000;
    opacity: 0.5;
    margin: 0 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none !important;
    border-radius: 50%;
}
  
.reviews-slider .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: #1f9fcc;
}
  
.reviews-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #1f9fcc;
    opacity: 1;
}
/*                         reviews-section               */
/*                       contact us section                   */
.contact-us{
    margin-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.contact-us .newsletter{
    padding: 52px 0 54px;
    text-align: center;
}
.newsletter .news-header{
    font-family: "TajawalBold";
    font-size: 26px;
    margin-top: 0;
    color: #fff;
    margin-bottom: 18px;
    text-transform: capitalize;
}
.newsletter .news-pargh{
    font-family: "TajawalRegular";
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
}
.newsletter-cont {
    position: relative;
    margin: 0 auto;
    max-width: 605px;
}
html[dir=rtl] .newsletter-input{
    text-align: right;
    padding-left: 0;
    padding-right: 45px;
}
.newsletter-input {
    text-align: left;
    background-color: #fff;
    /* max-width: 605px; */
    width: 100%;
    height: 45px;
    border-radius: 22px;
    padding-left: 45px;
    font-size: 13px;
    font-family: "TajawalRegular";
    color: #757575;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
}
.newsletter-input:focus{
    border: 1px solid #1f9fcc;
}
.newsletter-input::placeholder{
    font-size: 13px;
    font-family: "TajawalMedium";
    color: #757575;
}
html[dir=rtl] .newsletter-button{
    right: auto;
    left: 7px;
}
.newsletter-button {
    width: 128px;
    height: 35px;
    border-radius: 21px;
    background-color: rgb(31, 159, 204);
    position: absolute;
    right: 7px;
    top: 5px;
    color: #fff;
    border: none;
    font-size: 16px;
    font-family: "TajawalRegular";
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}
.newsletter-button:hover{
    background-color: #171250;
}
.newsletter-button i{
    font-size: 17px;
    margin-inline-end: 8px;
}
.newsletter .fa-envelope{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 17px;
    color: #757575;
}
html[dir=rtl] .newsletter .fa-envelope{
    right: 20px;
    display: inline-table;
}
/*                       contact us section                   */
/*                            footer                          */
.footer-cont{
    text-align: center;
    padding-bottom: 50px;
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
}
.social a{
    text-decoration: none;
}
.social-link {
    border-radius: 50%;
    background-color: #b3b3b3;
    margin-inline-end: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    transition: all .3s ease-in-out;
}
.social-link i{font-size: 18px;}
.social-link:last-of-type{
    margin-inline-end: 0;
}

.social-link:nth-of-type(1){
    background-color: #385898;
}
.social-link:nth-of-type(2){
    background-color: #37b1e2;
}
.social-link:nth-of-type(3){
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.social-link:nth-of-type(4){
    background-color: #fee100;
}
.social-link:nth-of-type(5){
    background-color: #2ba63b;
}
.social-link:hover{
    background-color: #171250;
    background: #171250;
    color: #fff;
}
.nav-foot{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.nav-foot .nav-anchor{
    color: #000;
    font-size: 16px;
    text-decoration: none;
    font-family: "TajawalMedium";
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}
.nav-foot .nav-anchor:hover{
    color: #1f9fcc;
}
.nav-foot .nav-li{
    margin-inline-end: 22px;
}
.nav-foot .nav-li:last-of-type{
    margin-inline-end: 0;
}
.pay-figure{
    text-align: center;
    margin-bottom: 30px;
}
.pay-figure a{
    display: inline-block;
}
.copy-right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: "TajawalRegular";
    color: #424242;
}
.design-text{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: "TajawalMedium";
}
.copy-right .taswak-img{
    max-width: 100%;
    margin-inline-start: 8px;
}
/*                            footer                          */

/*                                    media query                                    */
/*                    menu in phone size                      */

@media (max-width: 1199px){
    .top-header .img-logo img{
        max-width: 150px;
    }
    .nav-head .img-logo img{
        max-width: 130px;
    }
    .navgition .dropdown-content{
        display: none;
        transition: none;
    }
    .navgition {
        display: block;
        position: fixed;
        left: -100%;
        top: 0;
        bottom: 0;
        width: 90%;
        height: 100%;
        background-color: #fff;
        transition: .4s;
        z-index: 200;
    }
    html[dir=rtl] .navgition{
        left: 0;
        right: -100%;
    }
    .reset-left {
        left: 0;
    }
    html[dir=rtl] 
    .reset-left {
        right: 0;
    }
    header .contact-info{
        display: none;
    }
    .nav-head {
        display: flex;
        height:auto;
        color: #fff;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 27px 20px;
    }
    .nav-title {
        font-size: 17px;
        color: #fff;
        font-family: "TajawalBold";
    }
    .nav-head .close-btn {
        color: #000;
        font-size: 15px;
    }
    .nav-header .big-menu {
        display: block;
        flex-direction: column;
        text-align: left;
        padding: 30px 20px;
        align-items: baseline;      
    }
    .nav-header li{
        margin-right:  0;
    }
    html[dir=rtl] .nav-header .big-menu{
        text-align: right;
    }
    .cat-li {
        margin-bottom: 15px;
    }
    .cat-li>.cat-anchor.active>i::before {
        content: "";
    }
    .chevron-down{
        line-height: unset;
    }
    .nav-header li .cat-anchor{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .big-menu .dropdown-content {
        background-color: transparent;
        text-align: left;
        min-width: 100%;
        padding: 10px 0 0;
        padding-inline-start: 10px;
        box-shadow: none;
        position: static;
        visibility: visible;
        opacity: 1;
        left: auto;
        transform: none;
    }
    .dropdown-content a{
        padding: 2px 0 2px;
    }
    .dropdown-content a:last-of-type{
        padding-bottom: 0;
    }
    .chevron-down{
        color: #212121;
        font-size: 18px;
        font-family: "TajawalMedium";
    }
    html[dir=rtl] .big-menu .dropdown-content{
        text-align: right;
    }
    .big-menu .lang-section{
        display: block;
        color: #000000;
        font-size: 16px;
        font-family: "TajawalMedium";
        transition: all 0.3s ease-in-out;
    }
    .big-menu .lang-section:hover{
        color: #5c3385;
    }
    .dropdown{/*to make flex work*/
        display: block;
    }
    .big-menu .lang-section img{
        display: none;
    }
    .big-menu .lang-section .lang-word{
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }
    .header-icons a.add-to{
        margin-inline-end: 7px;
    }
    .show-icons{
        display: flex;
    }
    .header-icons .lang-section{
        display: none;
    }
    .header-icons .dropdown.cat-anchor{
        display: none;
    }
    .nav-header li:nth-of-type(5),
    .nav-header li:nth-of-type(6){
        display: block;
    }
    .navgition .add-to .fas{
        display: none;
    }
    .top-header .hide-txt{
        display: block;
    }
    .top-header .hide-txt:hover{
        color: #1f9fcc;
    }

   /*        strips-section             */    
   .strips-cont{
        padding: 65px 0px 65px;
        flex-direction: column;
    }
    .strips-cont .strips-img{
        margin-bottom: 30px;
    }
    .strips-cont .strips-caption{
        width: 100%;
        text-align: center;
    }
    .strips-caption .strips-head{
        font-size: 40px;
        line-height: 1.2;
    }
   /*        strips-section             */
   /*        product slider            */
   .product .product-content{
       padding: 10px 10px 0;
   }
   .product-content .price-box{
       display: flex;
       flex-direction: column;
   }
   /*        product slider            */
   /*        banner-section           */
   .big-image-section {
        margin-bottom: 15px;
    }
   .banner-section .col-lg-6:first-of-type {
        margin-bottom: 15px;
    }
    .banner-section {
        margin-bottom: 55px;
    }
   /*        banner-section           */
   /*        reviews-section          */
    .reviews-section{
        clip-path: ellipse(100% 63% at 50% 63%);
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 0;
    }
    .reviews-slider .reviews-cont{
        flex-direction: column;
        text-align: center;
        padding: 38px 15px 38px 15px;
    }
    .reviews-cont .reviews-img{
        margin-inline-end: 0;
        margin: 0 auto;
    }
    .reviews-cont .reviews-box{
        text-align: center;
    }
    .reviews-cont .reviews-title{
        margin-bottom: 15px;
    }
    .reviews-slider .reviews-cont::before{
        right: 5%;
        top: 0%;
        font-size: 60px;
    }
   /*        reviews-section          */
   /*          footer                */
    .nav-foot{
        flex-direction: column;
    }
    .nav-foot .nav-li{
        margin-inline-end: 0;
        margin-bottom: 8px;
    }
    .copy-right{
        flex-direction: column;
    }
   /*          footer                */
}  


@media (max-width: 300px){
    .top-header .img-logo img{
        max-width: 120px;
    }
} 


/***************************model-search*************************/

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    top: 50%;
}

.modal {
    padding: 0!important;
}

.modal-dialog {
    max-width: 100%!important;
    margin: 0;
    height: 100%;
    width: 100%;
}

.modal-content {
    background-color: rgba(31, 159, 204, .95);
    height: 100%;
}

.modal-header {
    border: transparent;
}

.modal-header button {
    color: #ffffff!important;
}

.modal-header .close {
    color: #ffffff!important;
    font-size: 25px;
    position: absolute;
    top: 30px;
    padding: 0;
    opacity: 1;
    z-index: 99;
}

html[dir="rtl"] .modal-header .close {
    left: 48%;
}

html[dir="ltr"] .modal-header .close {
    right: 48%;
}

.modal-header .close:hover {
    color: #ffffff;
}

.modal-header button {
    border: transparent;
    margin: auto;
}

.modal-body .search-box {
    position: relative;
    width: 50%;
    top: 50%;
    margin: auto;
}

.modal-body .search-box .seach-input {
    width: 100%;
    font-size: 18px;
    border-radius: 32px;
    -webkit-text-fill-color: #ffffff !important;
    text-transform: capitalize;
    min-height: 64px;
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 0 50px;
    outline: 0;
    color: #535353;
    align-items: center;
    font-family: "Tajawal";
}

.input-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
}

.input-search input {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
    height: 50px;
    padding-left: 20px;
    color: #ffffff;
    font-size: 18px;
}

html[dir="rtl"] .input-search input {
    padding-right: 20px;
}

html[dir="ltr"] .input-search input {
    padding-left: 20px;
}

.input-search input:focus {
    outline: 0;
}

.input-search .ico_ {
    position: absolute;
    color: #ffffff;
    font-size: 18px;
}

html[dir="rtl"] .input-search .ico_ {
    left: 20px;
}

html[dir="ltr"] .input-search .ico_ {
    right: 20px;
}

 ::placeholder {
    color: #ffffff;
}
@media (max-width: 1199px){
    .modal-body .input-search {
        width: 95%;
    }
}
/***************************model-search*************************/
/*overlay*/
.overlay-box,
.overlay-box2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
    background-color: #000;
    opacity: .4;
    display: none;
}
/* .overlay-box2{
    opacity: 0;
} */

